.container{
  background-color: black;
  padding: 24px;
  width : 75%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}
.header{
  display: flex;
  color: white;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

button{
  padding:10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(25, 92, 69);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.characterLength{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;
}

.characterLength span{
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
  margin-right: 25px;
}

.checkboxes{
  display: grid;
  grid-template-columns: auto auto;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.checkboxes div{
  display: flex;
  gap:2px;
  padding-bottom: 24px;
}

.generatebtn{
  width: 100%;
}
.errorMessage{
  color: red;
  padding-bottom: 24px;
}
